body {
    background-color: rgb(159, 115, 211);
    margin: 0;
    padding: 0;
    padding: 20% 40px 20% 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    h1 {
        font-family: "Great Vibes", cursive;
        font-weight: bold;
        font-size: 40px;
        font-style: normal;
        align-self: flex-start;
    }

    div {
        color: white;
        font-family: "Handlee", cursive;
        font-size: 20px;
        font-weight: 500;
        align-self: flex-end;
        font-style: normal;
    }

    #love-icon {
        position: absolute;
    }

    #message-button {
        font-size: 18px;
        margin-top: 300px;
        padding: 5px 10px;
        background-color: white;
        color: red;
        font-family: "Handlee", cursive;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        border: none;
        border-radius: 8px;
        box-shadow: 1px 1px 1px 1px rgb(112, 112, 112);
    }

    main {
        background-color: rgb(217, 217, 217);
        border: 1px solid black;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .smsHead {
            color: black;
            font-family: "Great Vibes", cursive;
            font-weight: 400;
            font-size: 24px;
            font-style: normal;
            align-self: flex-start;
        }

        .smsBody {
            color: black;
            font-size: 18px;
        }

        .smsEnd {
            color: black;
            font-weight: bold;
            font-family: "Great Vibes", cursive;
            font-size: 24px;
            font-style: normal;
            align-self: flex-end;
        }
    }

    .hide {
        display: none;
    }
}